body {
    background-color: black;
}

.container {
    background-color: white;
}

.header {
    background-color: black;
    padding-top:20px;
    padding-bottom: 100px;
}

.header h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    padding-left:5vh;
}

.header a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    font-size:13px;
    text-decoration:none;
    text-transform: uppercase;
}

.hero {
    background-color: black;
    background-image: url("/images/theater-image-background.png");
    margin:auto;
    width:100%;
    height:auto;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:bottom;
    margin-top:-1vh;
}

.hero-text {
    color:white;
    text-align:center;
    font-size:90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.date {
    border: 1px gray solid;
    background-color:lightgray;
    width:73%;
    margin:auto;
    margin-top: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.raisin {
    margin-top:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border:1px solid white;
}

.raisin h4 {
    margin-left:50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.raisin p {
    margin-left:50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.raisin img {
    margin:auto;
    width:100%;
    height:auto;
}

.raisin input[type=button] {
    background-color: rgb(228, 176, 45);
    color:white;
    border:1px solid rgb(146, 146, 146);
    padding:1em;
    border-radius:3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
    background-color:black;
    padding-top:20px;
    color:white;
    padding-bottom:20px;
    padding-left:50px;
}

.footer img {
    width:100%;
    height:auto;
    margin:auto;
}

.footer h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}

.footer a{
    color:white;
    text-decoration:none;
    font-size: 12px;
}